<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction Results</title>
    <meta name="author" content="Harsh Agarwal">
    <meta name="description" content="Application for user car prices prediction using Machine Learning" />
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='dashboard-styles.css') }}"> -->
     <link rel="stylesheet" href="../static/dashboard-styles.css">
</head>
<body>

    <div class="dashboard">
        <h1>Prediction for Car Price</h1>
        <h3>Prediction: {{ prediction }}</h3>
    </div>
    
</body>
</html>